<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>-cofina-</title>
  </head>
  <body>
      <div class=".header">
          <marquee *ngIf="login==false" >Cofina propose aux entrepreneurs & PME des produits et services pour une finance maitrisée</marquee>
          <app-header *ngIf="login==true" ></app-header>
      </div>
      <app-login (validerEvent)="vilidationOk()" *ngIf="login==false"></app-login>
      <app-users *ngIf="login==true"></app-users>
  </body>
</html>
